header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #854d27;
    color: white;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

header img {
    width: 150px;
}
header {
    margin: 0 auto;
    height: 150px;
    padding: 0;
    width: 100%;
    border-bottom: #A9927D solid 2px;
}

header ul li a {
    display: inline-block;
    text-decoration: none !important;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    position: relative;
    font-size: 1.7rem;
}

header ul li {
    list-style: none;
}

header ul li a:hover {
    color: #A9927D; /* Muted gold */
    font-weight: bold;
}

header img {
    animation: float 2s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

header ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #A9927D;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

header ul li a:hover::after {
    transform: scaleX(1);
}

