html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    margin: 0;
    background-color: #8A9A5B;
    padding: 2%;
}


.intro {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .3em;
}
.intro h1 {
    font-size: 4.5rem;
    letter-spacing: .3em;
}

.folders {
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    background-color: tan;
    padding: 2%;
}

.folder {
    transition: transform .5s ease-in-out ;
}

.folder:hover {
    transform: scale(1.2)
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
}

.hide-modal {
    display: none;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}
.close-btn:hover {
    color: red;
}
